*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    width: 90%;
    height: 15vh;
    margin: auto;
    align-items: center;
}

.logo-container, .nav-links, .cart{
    display: flex;
}

.logo-container{
    flex: 1;
}

.nav-links{
    justify-content: space-around;
    list-style: none;
    text-shadow: black;
}

.nav-link{
    color: #5f5f79;
    font-size: 20px;
    text-decoration: none;
}

.logo{
    font-weight: 400;
    margin: 5px;
}

nav{
    flex: 2;
}

.cart{
    flex: 1;
    justify-content: flex-end;
}

.presentation{
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 75vh;
    align-items: center;
}

.introduction{
    flex: 1;
}

.intro-text h1{
    font-size: 59px;
    font-weight: 500;
    background: linear-gradient(to right, #000000, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text p{
    margin-top: 5px;
    font-size: 20px;
    color: #585775;
}

.cta{
    padding: 50px 0px 0px 0px;
    color: #585775;
}

.cta-select{
border: 2px solid #c36cbb;
	background: transparent;
	color: #c36cbb;
	width: 150px;
	height: 50px;
	cursor: pointer;
	font-size: 16px;
}

.cta-add {
	background: #c36cbb;
	width: 150px;
	height: 50px;
	cursor: pointer;
	font-size: 16px;
	border: none;
	color: white;
	margin: 30px 0px 0px 30px;
}

.cover img{
    height: 60vh;
    display: flex;
}

.cover{
    flex: 1;
}


footer{
    display: flex;
    width: 90%;
    height: 10vh;
    margin: auto;
    align-items: center;
}

.instagram {
    margin: auto;
    align-items: center;
    justify-items: flex-end;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
}

.instagram img{
    height: 20px;
}

.instagram a{
    font-size: 20px;
    color: blue;
    text-decoration: none;
    justify-content: right;
}